{
  "env": {
    "production": {
      "presets": ["es2016", ["es2015", {"modules": false}], "stage-0"],
      "plugins": ["transform-decorators-legacy"]
    },
    "development": {
      "presets": ["es2016", ["es2015", {"modules": false}], "stage-0"],
      "plugins": ["transform-decorators-legacy"]
    },
    "cli": {
      "presets": ["es2016", "es2015", "stage-0"],
      "plugins": ["transform-decorators-legacy"]
    }
  }
}
